#griddata{
    width: 80%;
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
#griddata>div{
    height: auto;
    width: auto; 
}
#griddata>div>img{
    width: 80%;
}
.category{
   
    text-align: center;
  
}